# Встроенный в стенд программатор-отладчик на микросхеме FTDI FT2232.
# Синтаксис по учебному пособию (команды объявлены устаревшими начиная
# с OpenOCD 0.11, но в 0.12 ещё поддерживаются).
interface ftdi
ftdi_vid_pid 0x0403 0x6010
ftdi_layout_init 0x0408 0x0ffb
ftdi_layout_signal nSRST -oe 0x0800
